<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <style>
      
      article {
            text-align: center;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        }
        lite-youtube {
            width: 100%;
            max-width: 640px; /* Puedes ajustar el tamaño máximo */
            aspect-ratio: 16 / 9; /* Mantiene la proporción 16:9 del video */
            height: auto; /* Esto se puede eliminar si se usa aspect-ratio */
        }
        .styleIt {
    width: 400px;
    margin: auto;
  }
    </style>
</head>
<body>
    <div class="container-fluid px-0 px-md-5">
        <div class="card">
          <div class="card-body px-md-5 px-lg-6">
    
        <h1>Videos</h1>
        <lite-youtube videoid="PBjrqu9qZHY" ></lite-youtube>

   </div>
</div>
</div>
</body>
<script src="https://unpkg.com/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script type="module" src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.5.0/lite-youtube.js"></script>
</html>