<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" type="text/css" href="/public/styles.css">
</head>
<body>
  <h1>Bienvenido al Dashboard</h1>
  <p>Has iniciado sesión exitosamente.</p>
  <a href="/users/logout">Cerrar sesión</a>
</body>
</html>