<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imprimir Reporte de Mascota</title>
    <style>
        body { font-family: Arial, sans-serif; }
        .logo-container {
    display: flex; /* Usa flexbox para alinear elementos */
    justify-content: space-between; /* Alinea el contenido a la derecha */
    
}

.logo, .foto-mascota {
    
    height: 70px; /* Mantiene la proporción del logo */
}


.title h1 {
    display: inline-block; /* Asegura que el título se ajuste al contenido */
}
        .container { width: 80%; margin: 0 auto; }
        .section { margin: 20px 0; }
        .section-vacunas { margin: 10px 0; }
        h2 { color: #333; }
        table { width: 100%; border-collapse: collapse; margin-top: 10px; }
        table, th, td { border: 1px solid #ddd; padding: 8px; }
        th { background-color: #f2f2f2; }
    </style>
</head>
<div class="logo-container">
    <img class="foto-mascota" src="/public/images/logo2.png" alt="Logo">
    <h1>Reporte de Vacunación</h1>
    <img class="logo" src="/public/images/logo2.png" alt="Logo">
</div>
<body>
      
      

    <div class="container">
        

        <!-- Sección de datos de la mascota -->
        <div class="section">
            <h2>Datos de la Mascota</h2>
      
        </div>

        <!-- Sección de datos del propietario -->
        <div class="section">
            <h2>Datos del Propietario</h2>
        
        </div>
    </div>
        <!-- Sección de vacunaciones -->
        <div class="section-vacunas">
            <h2>Vacunaciones</h2>
            <table>
                <thead>
                    <tr>
                        <th>Medicamento</th>
                        <th>Dosis</th>
                        <th>Descripción</th>
                        <th>Fecha de Aplicación</th>
                        <th>Próxima Aplicación</th>
                        <th>Veterinario</th>
                    </tr>
                </thead>
                <tbody>
              
                </tbody>
            </table>
        </div>
 
    <script>
        // Mostrar el cuadro de diálogo de impresión al cargar la vista
        window.addEventListener('load', () => window.print());
    </script>
</body>
</html>